<!DOCTYPE html>
<html>
  <head>
    <title>CableNotify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' %>
    <%= javascript_include_tag 'https://unpkg.com/vue@2.2.6' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-sm-12'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
