!!!
%html
  %head
    %title CableNotify
    = csrf_meta_tags
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://unpkg.com/vue@2.2.6'
    = javascript_include_tag 'application'
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
  %body
    .container-fluid
      .row
        .col-sm-12
          = yield
